<div id="chat_bar" class="hide_chat_bar">
	<div id="chat_box">
		<div id="chat_box_messages"  class="hide_chat_box">
		</div>
		<div class="conversation">
			<img class="friend_image" src="http://wuw9h26ve432tts12no0xx1b.wpengine.netdna-cdn.com/wp-content/uploads/2016/10/5754e3bc82e2fefe7bf5943792e39c9f_original.jpg"/>
			<p>Patryk Malinowski</p>
		</div>
	</div>
	<div id="chat_box">
		<div id="chat_box_messages" class="hide_chat_box">
		</div>
		<div class="conversation">
			<img class="friend_image" src="http://2.bp.blogspot.com/-lpyl9fzklGA/T2BNK6SBNhI/AAAAAAAABns/m5DraqCr0Lc/s1600/piekna-twarz-kobiety-300x300.jpg"/>
			<p>DominikaXXX(5)</p>
		</div>
	</div>
</div>